* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    background-color: rgb(11, 12, 80);
}

h3 {
    font-weight: lighter;
}

div {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-weight: lighter;
}

table {
    margin: auto;
}

.d1 {
    background-color: rgb(58, 116, 204);
}

.d15 {
    background-color: rgb(43, 83, 170);
}

.d2 {
    background-color: rgb(32, 54, 128);
}

.d3 {
    background-color: rgb(11, 12, 80);
}

.is-center {
    text-align: center;
}

@media (min-width: 48em) {
    body {
      font-size: 16px;
    }
}