/* Common styles, applied to all pages (with few exceptions) */

@import 'themes';

@function getAccentColor($hue) {
    @return hsl($hue, 100%, 30%);
}

@mixin applyAccentColor($hue) {
    nav {
        background: getAccentColor($hue);
    }
    
    .nav-panel-title {
        color: getAccentColor($hue);
    }
}

$nav-width: 60px;
$nav-panel-width: 400px;

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: row;

	font-family: 'SF UI Text', sans-serif;

    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('background-color');  
    } 
}

nav {
	position: fixed;
	width: $nav-width;
	height: 100vh;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 0px;
    box-shadow: $shadow;
    
    img {
        width: 24px;
        height: 24px;
    }

    a, button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 15px 15px;
        border: none;
    
        font-size: 12px;
    
        background-color: transparent;

        &:focus, &:hover, &:active {
            outline: none;
            background: $darker;
        }
    }
}

.nav-panel {
	position: fixed;

	left: $nav-width;
	top: 0;

	height: 100vh;
	width: $nav-panel-width;

	overflow-y: auto;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;

	border: none;

    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('panel-color');  
    } 

	box-shadow: $shadow;
}

.nav-panel-title {
	display: block;
	padding: 20px 25px 10px 25px;

	font-weight: bold;
	font-size: 18px;
}

.nav-group {
	display: flex; 
	flex-direction: column; 
	gap: 10px;
}

a,
a:focus,
a:hover,
a:active {
	outline: none;
	color: hsl(206, 100%, 30%);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: underline;
}

a {
	color: hsl(206, 100%, 30%);
	text-decoration: none;
}

main {
	position: absolute;
	left: $nav-width;
}

/* small screens */
@media (max-width: 768px) { 
	body {
	    flex-direction: column;
	}

	nav {
		position: relative;

		width: 100%;
		height: $nav-width;

		flex-direction: row;

		padding: 0px 10px;
	}

	.nav-group {
		flex-direction: row; 
	}
	
	main {
		position: relative;
		left: 0;
	}

	.nav-panel {
		left: 0;
		top: $nav-width;
		height: 100vh;
		width: 100%;
	}
}

.panel {
	padding: 1em 2em;
	margin-top: 1em;

    backdrop-filter: blur(3px);
    
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

	font-weight: 300;
	letter-spacing: .03em;
}

.division-header {
	padding: 15px 15px 3em 15px;
}

/* md */
@media (min-width: 768px) { 
	.division-header {
		padding: 3em;
	}
}

.darker {
	background-color: $darker;
}

.hide-sm {
	display: none;
}

@media (min-width: 992px){
	.hide-sm {
		display: block;
	}
}