/* Common styles, applied to all pages (with few exceptions) */

@import 'themes';

@function getAccentColor($hue) {
    @return hsl($hue, 100%, 30%);
}

@mixin applyAccentColor($hue) {
    nav {
        background: getAccentColor($hue);
    }
    
    .nav-panel-title {
        color: getAccentColor($hue);
    }
}

$small: 768px;

@mixin respond-to($max-width) {
	@media only screen and (max-width: $max-width) { @content; }
}

$nav-width: 60px;
$nav-panel-width: 400px;

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: row;

	font-family: 'SF UI Text', sans-serif;

    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('background-color');  
	} 
	
	@include respond-to($small) {
		flex-direction: column;
	}
}

nav {
	width: $nav-width;
	height: 100vh;

	overflow-x: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 10px 0px;
    box-shadow: $shadow;

    a, button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 15px 15px;
        border: none;
    
        font-size: 12px;
    
        background-color: transparent;

        &:focus, &:hover, &:active {
            outline: none;
            background: $darker;
		}
	}
	
	img {
        width: 24px;
        height: 24px;
	}
	
	.group {
		display: flex; 
		flex-direction: column; 
		gap: 10px;

		@include respond-to($small) {
			flex-direction: row; 
		}
	}

	@include respond-to($small) {
		width: 100%;
		height: $nav-width;
		flex-direction: row;
		padding: 0px 10px;
	}
}

.nav-panel {
	height: 100vh;
	width: $nav-panel-width;

	overflow-y: auto;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;

	border: none;
	z-index: 100;

	box-shadow: $shadow;

	font-size: 14px;

    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('panel-color');  
	} 
	
	@include respond-to($small) {
		height: calc(100vh - #{$nav-width});
		width: 100%;
	}

	& &-title {
		display: block;
		padding: 20px 25px 10px 25px;
	
		font-weight: bold;
		font-size: 18px;
	}
}

main {
	flex: 1 1 0px;
	height: 100vh;
	overflow-y: auto;

	@include respond-to($small) {
		flex: auto;
		height: calc(100vh - #{$nav-width});
	}
}

a,
a:focus,
a:hover,
a:active {
	color: hsl(206, 100%, 30%);
	transition: color .3s;
	outline: none;
}

a {
	text-decoration: none;
}
	
a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

.panel {
	padding: 1em 2em;
	margin: 1em;

    backdrop-filter: blur(3px);
    
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

	font-weight: 300;
	letter-spacing: .03em;
}

.darker {
	background-color: $darker;
}

.hide-sm {
	display: block;

	@include respond-to($small) {
		display: none;
	}
}