$darker: rgba(0, 0, 0, .2);

$theme-transition: color .3s, background-color .3s;

$shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 0.3px 0.9px 0 rgba(0, 0, 0, .108);

$themes: (
    light: (
        background-color: rgb(255, 255, 255),
        text-color: rgb(33, 37, 41),
        panel-color: hsl(0, 0%, 95%),
        panel-color-darker:hsl(0, 0%, 85%),

        fifth-transparent: rgba(0, 0, 0, .2),
        half-transparent: rgba(0, 0, 0, .5),
        light: 30%
    ),
    dark: (
        background-color: rgb(30, 30, 30),
        text-color: rgb(242, 242, 242),
        panel-color: hsl(0, 0%, 18%),
        panel-color-darker:hsl(0, 0%, 8%),

        fifth-transparent: rgba(255, 255, 255, .2),
        half-transparent: rgba(255, 255, 255, .5),
        light: 20%
    )
);

/*
 * Implementation of themes
 */

$theme-map: null;

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}  
