body {
	background-color: rgb(20, 20, 20);
	color: rgb(250, 250, 250);
	font-size: 18px;
}

h1 {
	word-wrap: break-word;
}

.nav-card {
	margin-top: 1em;
	padding: 1em 1em;
	border-radius: 2px;
	display: flex;
	flex-direction: column;

	background-color: rgb(40, 40, 40);
	color: rgb(250, 250, 250);
}

.nav-card:hover, .nav-card:focus {
	color: white;
	text-decoration: none;
	
	background-color: var(--top-panel-bg);

	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	transition: .5s;
}

.nav-card:hover>.cont>.arrow-icon,
.nav-card:focus>.cont>.arrow-icon {
	opacity: 1;
}

.cont {
	border-top: 1px rgba(255, 255, 255, .6) solid;
	letter-spacing: .03em;
	margin-top: 5px;
	padding-top: 5px;
	display: flex;
	color: rgba(255, 255, 255, .6);
	font-size: 14px;
}

.arrow-icon {
	margin-left: auto;
	opacity: 0;
}

.arrow-icon>img {
	height: 50px;
}
