.imaged-article {
	display: flex;
	flex-direction: row;
	margin: 1em;
}

.article-img {
	width: 100%;
}

.article {
	margin: 1em;
	color: var(--article-fg);
	background-color: var(--article-bg);
}

.article {
	padding: 1em 2em;
}

.row.article {
	padding: 0;
}

.article>div:first-child {
	padding-left: 0px;
	padding-right: 0px;
}

.article>div:last-child {
	padding: 1em 2em;
}

.article-title, .article-title:visited {
	display: block;
	font-size: 1.6em;
	color: var(--article-fg);
}

.article-title:hover, .article-title:focus {
	color: var(--secondary);
	text-decoration: none;
	transition: 0.3s;
}

.article-publication-date {
	font-size: small;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 5px;
}
