body {
	background-color: #fafafa;
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: absolute;
	border: none;

	background-color: rgba(18, 18, 18, .9);
	color: #ffffff;
	min-height: calc(100vh - 60px);
	top: 60px;

	backdrop-filter: blur(3px);
}

.crop {
	height: calc(100vh - 60px);
	overflow-y: hidden;
}

.nav {
	width: 100%;

	overflow-y: auto;
}

.nav>li {
	width: 100%;
	padding: 10px 25px 10px 25px;
}

.nav>.active {
	background-color: rgba(18, 18, 18, .5);
}

.nav>li>a {
	color: #ffffff;
}

.div-name {
	font-weight: bold;
	letter-spacing: .05em;
}

.container-fluid {
	padding: 20px;
}

h4 {
	margin: 20px 0 15px 0;
}

@media (min-width: 768px) { 
	nav {
		width: 400px;
	}	
}

.control-panel {
	display: flex;
	flex-flow: row;
	justify-content: center;

	height: 60px;

	background-color: rgb(18, 18, 18);

	font-size: 12px;
}

.control-panel>a,
.control-panel>button {
	display: flex;
	flex-direction: column;

	margin: 0 auto;

	color: rgb(109, 109, 109);
	background-color: transparent;

	padding: 5px 10px;

	border: none;
}

.control-panel>a:hover,
.control-panel>a:focus,
.control-panel>a:active,
.control-panel>button:hover,
.control-panel>button:focus,
.control-panel>button:active  {
	text-decoration: none;
	background-color: rgb(56, 56, 56);

	transition: background-color .3s;

	outline: none
}

.control-panel>a>svg,
.control-panel>button>svg {
	fill: rgb(109, 109, 109);

	width: 24px;
	height: 24px;

	margin: 0 auto;
}

.formula {
	text-align: center;

	margin: 1rem 0;

	overflow-x: auto;
	overflow-y: hidden;
}

h1, .note {
	margin: 1rem 0;
}

.note {
	border-left: solid 5px;
	padding: 10px 0 10px 10px;
}

.note-primary {
	border-color: var(--primary);
}

.note-secondary {
	border-color: var(--secondary);
}

.note-danger {
	border-color: var(--danger);
}

figure {
	text-align: center;
	margin: 2rem 0;
}

figure>img {
	max-width: 100%;
}

figure>figcaption {
	font-size: smaller;
}