@import 'common';

@include applyAccentColor($hue: 206);

main {
	padding-top: 1em;
	font-size: 18px;
}

.section-title {
	display: block;
	font-weight: bolder;
	padding: 30px 10px 10px 20px;
}

.section-list {
	display: flex;
	flex-direction: column;

    width: 100%;
    
    a {
        display: block;
        width: 100%;
        padding: 10px 25px;

        @include themify($themes) {
            color: themed('text-color');
        } 

        &.active,
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            outline: none;
            background-color: $darker;
        }
    }
}

@media (min-width: 992px){
	.container {
		max-width: 720px;
	}
}

h1, h3 {
    font: {
        weight: bold;
        size: 18px; ;
    }

    border-bottom: solid 1px $darker;
	padding: 10px 0;
}

h1 {
    margin: 1.5rem 0;
}

h3 {
	margin: 20px 0 15px 0;
}

.formula {
	text-align: center;

	margin: 1rem 0;

	overflow-x: auto;
    overflow-y: hidden;
    
    position: relative;
	min-width: 100%;
    display: flex;
    
    span {
        text-align: center;
        margin: 0 auto;
    }

    .eval-link {
        font-size: 12px;
        @include themify($themes) {
            background-color: getAccentColor($hue: 206, $light: themed('light'));
        }
        color: white;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 5px;
    }
}

.note {
    margin: 1.5rem 0;
	border-left: solid 5px;
    padding: 10px 0 10px 10px;
    
    &-primary {
        border-color: var(--primary);
    }
    
    &-secondary {
        border-color: var(--secondary);
    }
    
    &-danger {
        border-color: var(--danger);
    }
    
}

figure {
	text-align: center;
	margin: 2rem 0;
    padding: 30px;
    
    @include themify($themes) {
        background-color: themed('panel-color');  
    } 

    img {
        max-width: 100%;
    }

    figcaption {
        font-size: 14px;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
}

#source-list {
	padding: 1em 2em;
	width: 100%;

    overflow-y: auto;
    
    a {
        display: block;
        width: 100%;
        margin: 5px 10px;
        padding: 10px 25px;
        border-radius: 2px;
        background-color: rgba(20, 20, 20, .05);
    }
}

.source-mark {
	display: inline-block;
	border-radius: 50%;
	background-color: red;
	color: white;
	width: 1.5em;
	text-align: center;
	margin-left: 5px;
}

.fit-scroll {
	overflow-x: auto;
}

.table-wrapper {
	width: 100%;
	margin: 2rem 0;
    padding: 30px;
    
    @include themify($themes) {
        background-color: themed('panel-color');  
    } 

    header {
        font-size: 14px;
        padding-top: .75rem;
        padding-bottom: .75rem;
        text-align: center;
    }

    table {
        margin-top: 1rem;
        overflow-x: auto;
        font-size: 14px;
    }
}

.table-note {
	margin-top: 1rem;
	font-size: 14px;
	color: inherit;
	text-align: justify;
}

.table {
    @include themify($themes) {
        color: themed('text-color');  
    } 
}

.table thead th {
	border-bottom: none;
}

.table-bordered {
	border: none;
}

.table td, .table th {
	padding: .4rem;
}

caption {
	font-size: 14px;
	caption-side: top;
	text-align: center;
	color: inherit;
}

#settings-panel>form {
    padding: 10px 25px;

    .group-row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 5px;
    }
}

#settings-panel>form>header {
	font-weight: bolder;
}


input[type="radio"]+label,
input[type="checkbox"]+label {
	padding-left: 5px;
}

input[type="radio"],
input[type="checkbox"] {
	visibility: hidden;
}

input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    @include themify($themes) {
        background-color: themed('fifth-transparent');  
    }  
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

input[type="checkbox"]+label::before  {
    content: "";
    display: inline-block;
    @include themify($themes) {
        background-color: themed('fifth-transparent');  
    } 
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
}

input[type="checkbox"]:checked+label::after  {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 5px;
    right: 0px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    @include themify($themes) {
        border-color: themed('half-transparent');  
    } 
    top: 5px;
    border-radius: 2px;
}

input[type="radio"]:checked+label::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    right: 0px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    @include themify($themes) {
        border-color: themed('half-transparent');  
    } 
    top: 5px;
}