:root {
	--accent-color: hsl(206, 100%, 30%);
	--accent-color-light: hsl(206, 100%, 50%);
	--font-size: 18px;
}

body {
	font-size: 18px;
}

nav {
	background: var(--accent-color);
	background: linear-gradient(45deg hsl(206, 100%, 50%) 0%, hsl(206, 100%, 30%) 100%);
}

main {
	margin-top: 2em;
}

h1 {
	font-weight: bold;
	font-size: 18px;
}

.division-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.division-list>a {
	display: block;
	width: 100%;
	padding: 10px 25px;
}

.division-list>a {
	color: var(--text-color);
}

.division-list>.active,
.division-list>a:hover,
.division-list>a:focus,
.division-list>a:active {
	text-decoration: none;
	outline: none;
	background-color: var(--darker);
}

.trim {
	display: none;
}

@media (min-width: 992px){
	.container {
		max-width: 720px;
	}

	.trim {
		display: block;
	}
}

h4 {
	margin: 20px 0 15px 0;
}

.formula {
	text-align: center;

	margin: 1rem 0;

	overflow-x: auto;
	overflow-y: hidden;
}

h1, .note {
	margin: 1.5rem 0;
}

.note {
	border-left: solid 5px;
	padding: 10px 0 10px 10px;
}

.note-primary {
	border-color: var(--primary);
}

.note-secondary {
	border-color: var(--secondary);
}

.note-danger {
	border-color: var(--danger);
}

.formula {
	position: relative;
	min-width: 100%;
	display: flex;
}

.formula span {
	text-align: center;
	margin: 0 auto;
}

.formula .eval-link {
	font-size: 12px;
	cursor: pointer;
	background-color: var(--accent-color);
	color: white;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 5px;
}

figure {
	text-align: center;
	margin: 2rem 0;
	padding: 30px;
	background-color: var(--secondary-backgroundcolor);
}

figure>img {
	max-width: 100%;
}

figure>figcaption,
.table-wrapper header {
	font-size: 14px;
	padding-top: .75rem;
  padding-bottom: .75rem;
}

#source-list {
	display: none;
	position: fixed;

	padding: 1em 2em;
	height: 30vh;
	width: 100%;
	bottom: 0;

	overflow-y: auto;

	color: var(--content-list-fg);
	background-color: var(--content-list-bg);
	backdrop-filter: blur(3px);
}

.source-mark {
	display: inline-block;
	border-radius: 50%;
	background-color: red;
	color: white;
	width: 1.5em;
	text-align: center;
	margin-left: 5px;
}

#source-list>a {
	color: var(--content-list-fg);
	display: block;
	width: 100%;
	margin: 5px 10px;
	padding: 10px 25px;
	border-radius: 2px;
	background-color: rgba(20, 20, 20, .5);
}

.fit-scroll {
	overflow-x: auto;
}

.table-wrapper {
	width: 100%;
	margin: 2rem 0;
	padding: 30px;
	background-color: var(--secondary-backgroundcolor);
}

.table-wrapper table {
	margin-top: 1rem;
	overflow-x: auto;
	font-size: 14px;
}

.table-wrapper header {
	text-align: center;
}

.table-note {
	margin-top: 1rem;
	font-size: 14px;
	color: inherit;
	text-align: justify;
}

.table {
	color: var(--text-color)
}

.table thead th {
	border-bottom: none;
}

.table-bordered {
	border: none;
}

.table td, .table th {
	padding: .4rem;
}

caption {
	font-size: 14px;
	caption-side: top;
	text-align: center;
	color: inherit;
}

#settings-panel>form {
	padding: 10px 25px;
}

#settings-panel>form>header {
	font-weight: bolder;
}