/* Common styles, applied to all pages (with few exceptions) */
/*
 * Implementation of themes
 */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "SF UI Text", sans-serif;
}
.theme-light body {
  color: #212529;
  background-color: white;
}
.theme-dark body {
  color: #f2f2f2;
  background-color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
}

nav {
  width: 60px;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}
nav a, nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  border: none;
  font-size: 12px;
  background-color: transparent;
}
nav a:focus, nav a:hover, nav a:active, nav button:focus, nav button:hover, nav button:active {
  outline: none;
  background: rgba(0, 0, 0, 0.2);
}
nav img {
  width: 24px;
  height: 24px;
}
nav .group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  nav .group {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 60px;
    flex-direction: row;
    padding: 0px 10px;
  }
}

.nav-panel {
  height: 100vh;
  width: 400px;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  border: none;
  z-index: 100;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  font-size: 14px;
}
.theme-light .nav-panel {
  color: #212529;
  background-color: #f2f2f2;
}
.theme-dark .nav-panel {
  color: #f2f2f2;
  background-color: #2d2d2d;
}
@media only screen and (max-width: 768px) {
  .nav-panel {
    height: calc(100vh - 60px);
    width: 100%;
  }
}
.nav-panel .nav-panel-title {
  display: block;
  padding: 20px 25px 10px 25px;
  font-weight: bold;
  font-size: 18px;
}

main {
  flex: 1 1 0px;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  main {
    flex: auto;
    height: calc(100vh - 60px);
  }
}

a,
a:focus,
a:hover,
a:active {
  color: #005799;
  transition: color 0.3s;
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

.panel {
  padding: 1em 2em;
  margin: 1em;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  letter-spacing: 0.03em;
}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}

.hide-sm {
  display: block;
}
@media only screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

nav {
  background: #005799;
}

.nav-panel-title {
  color: #005799;
}

main {
  padding-top: 1em;
  font-size: 18px;
}

.section-title {
  display: block;
  font-weight: bolder;
  padding: 30px 10px 10px 20px;
}

.section-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-list a {
  display: block;
  width: 100%;
  padding: 10px 25px;
}
.theme-light .section-list a {
  color: #212529;
}
.theme-dark .section-list a {
  color: #f2f2f2;
}
.section-list a.active, .section-list a:hover, .section-list a:focus, .section-list a:active {
  text-decoration: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}
h1, h3 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

h1 {
  margin: 1.5rem 0;
}

h3 {
  margin: 20px 0 15px 0;
}

.formula {
  text-align: center;
  margin: 1rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  min-width: 100%;
  display: flex;
}
.formula span {
  text-align: center;
  margin: 0 auto;
}
.formula .eval-link {
  font-size: 12px;
  cursor: pointer;
  background-color: #005799;
  color: white;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
}

.note {
  margin: 1.5rem 0;
  border-left: solid 5px;
  padding: 10px 0 10px 10px;
}
.note-primary {
  border-color: var(--primary);
}
.note-secondary {
  border-color: var(--secondary);
}
.note-danger {
  border-color: var(--danger);
}

figure {
  text-align: center;
  margin: 2rem 0;
  padding: 30px;
}
.theme-light figure {
  background-color: #f2f2f2;
}
.theme-dark figure {
  background-color: #2d2d2d;
}
figure img {
  max-width: 100%;
}
figure figcaption {
  font-size: 14px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#source-list {
  padding: 1em 2em;
  width: 100%;
  overflow-y: auto;
}
#source-list a {
  display: block;
  width: 100%;
  margin: 5px 10px;
  padding: 10px 25px;
  border-radius: 2px;
  background-color: rgba(20, 20, 20, 0.05);
}

.source-mark {
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 1.5em;
  text-align: center;
  margin-left: 5px;
}

.fit-scroll {
  overflow-x: auto;
}

.table-wrapper {
  width: 100%;
  margin: 2rem 0;
  padding: 30px;
}
.theme-light .table-wrapper {
  background-color: #f2f2f2;
}
.theme-dark .table-wrapper {
  background-color: #2d2d2d;
}
.table-wrapper header {
  font-size: 14px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
.table-wrapper table {
  margin-top: 1rem;
  overflow-x: auto;
  font-size: 14px;
}

.table-note {
  margin-top: 1rem;
  font-size: 14px;
  color: inherit;
  text-align: justify;
}

.theme-light .table {
  color: #212529;
}
.theme-dark .table {
  color: #f2f2f2;
}

.table thead th {
  border-bottom: none;
}

.table-bordered {
  border: none;
}

.table td, .table th {
  padding: 0.4rem;
}

caption {
  font-size: 14px;
  caption-side: top;
  text-align: center;
  color: inherit;
}

#settings-panel > form {
  padding: 10px 25px;
}
#settings-panel > form .group-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

#settings-panel > form > header {
  font-weight: bolder;
}

input[type=radio] + label,
input[type=checkbox] + label {
  padding-left: 5px;
}

input[type=radio],
input[type=checkbox] {
  visibility: hidden;
}

input[type=radio] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.theme-light input[type=radio] + label::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.theme-dark input[type=radio] + label::before {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 2px;
}
.theme-light input[type=checkbox] + label::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.theme-dark input[type=checkbox] + label::before {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type=checkbox]:checked + label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  right: 0px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  top: 5px;
  border-radius: 2px;
}
.theme-light input[type=checkbox]:checked + label::after {
  border-color: rgba(0, 0, 0, 0.5);
}
.theme-dark input[type=checkbox]:checked + label::after {
  border-color: rgba(255, 255, 255, 0.5);
}

input[type=radio]:checked + label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  right: 0px;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  top: 5px;
}
.theme-light input[type=radio]:checked + label::after {
  border-color: rgba(0, 0, 0, 0.5);
}
.theme-dark input[type=radio]:checked + label::after {
  border-color: rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=book.css.map */
