:root {
	--content-list-fg: rgb(250, 250, 250);
	--content-list-bg: rgba(20, 20, 20, .8);
}

.svg-gradient-container {
	width: 0;
	height: 0;
}

.svg-gradient-begin-color {
	stop-color: var(--gradient-begin);
}

.svg-gradient-end-color {
	stop-color: var(--gradient-end);
}

.crop {
	height: calc(100vh - 50px);
	overflow-y: hidden;
}

nav {
	position: absolute;
	top: 50px;
	min-height: calc(100vh - 50px);
	border: none;

	color: var(--content-list-fg);
	background-color: var(--content-list-bg);
	backdrop-filter: blur(3px);
}

.nav {
	width: 100%;
	overflow-y: auto;
}

/* md and larger */
@media (min-width: 768px) { 
	nav {
		width: 400px;
	}	
}

.nav>a {
	display: block;
	width: 100%;

	margin: 0 10px;
	padding: 10px 25px;
	border-radius: 2px;
}

.nav>.active {
	background-color: rgba(20, 20, 20, .5);
}

.nav>a {
	color: var(--content-list-fg);
}

.nav>a:hover,
.nav>a:focus,
.nav>a:active {
	text-decoration: none;
	outline: none;
	background-color: rgba(18, 18, 18, .5);
}

.div-name {
	font-weight: bold;
	letter-spacing: .05em;
}

.container-fluid {
	padding: 20px;
}

h4 {
	margin: 20px 0 15px 0;
}

.formula {
	text-align: center;

	margin: 1rem 0;

	overflow-x: auto;
	overflow-y: hidden;
}

h1, .note {
	margin: 1rem 0;
}

.note {
	border-left: solid 5px;
	padding: 10px 0 10px 10px;
}

.note-primary {
	border-color: var(--primary);
}

.note-secondary {
	border-color: var(--secondary);
}

.note-danger {
	border-color: var(--danger);
}

figure {
	text-align: center;
	margin: 2rem 0;
}

figure>img {
	max-width: 100%;
}

figure>figcaption {
	font-size: smaller;
}

#source-list {
	position: fixed;

	padding: 1em 2em;
	height: 20vh;
	width: 100%;
	bottom: 0;

	overflow-y: auto;

	color: var(--content-list-fg);
	background-color: var(--content-list-bg);
	backdrop-filter: blur(3px);
}

.source-mark {
	display: inline-block;
	border-radius: 50%;
	background-color: red;
	color: white;
	width: 1.5em;
	text-align: center;
	margin-left: 5px;
}