/* Error: Missing argument $light.
 *   ,--> stylesheets\collections.scss
 * 4 | $accent-color: getAccentColor($hue: 180);
 *   |                ^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> stylesheets\_common.scss
 * 5 | @function getAccentColor($hue, $light) {
 *   |           ============================ declaration
 *   '
 *   stylesheets\collections.scss 4:16  getAccentColor()
 *   stylesheets\collections.scss 4:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $light.\a   \250c \2500 \2500 > stylesheets\\collections.scss\a 4 \2502  $accent-color: getAccentColor($hue: 180);\d\a   \2502                 ^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > stylesheets\\_common.scss\a 5 \2502  @function getAccentColor($hue, $light) {\d\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   stylesheets\\collections.scss 4:16  getAccentColor()\a   stylesheets\\collections.scss 4:16  root stylesheet";
}
