/* Common styles, applied to all pages (with few exceptions) */

:root {
	--text-color: rgb(33, 37, 41);
	--background-color: rgb(255, 255, 255);
	--secondary-background-color: rgb(242, 242, 242);

	--darker: rgba(0, 0, 0, .2);

	--shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
}

html {
	scroll-behavior: smooth;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	font-family: 'SF UI Text', sans-serif;

	color: var(--text-color);
	background: var(--background-color);
}

nav {
	position: fixed;

	width: 60px;
	height: 100vh;
	overflow-x: auto;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	padding: 10px 0px;

	-webkit-box-shadow: var(--shadow);
	box-shadow:         var(--shadow);
}

nav img {
	width: 24px;
	height: 24px;
}

nav a,
nav button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	padding: 15px 15px;
	border: none;

	font-size: 12px;

	background-color: transparent;
}

nav a:focus,
nav a:hover,
nav a:active,
nav button:focus,
nav button:hover,
nav button:active {
	outline: none;
	background: var(--darker);
}

.nav-panel {
	position: fixed;

	left: 60px;
	top: 0;

	height: 100vh;
	width: 400px;

	overflow-y: auto;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;

	border: none;

	color: var(--text-color);
	background-color: var(--secondary-background-color);

	-webkit-box-shadow: var(--shadow);
	box-shadow:         var(--shadow);
}

.nav-panel-title {
	display: block;
	padding: 20px 25px 10px 25px;

	color: var(--accent-color);

	font-weight: bold;
	font-size: 18px;
}

.nav-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	-ms-flex-direction: column; 
	flex-direction: column; 
	gap: 10px;
}

a,
a:focus,
a:hover,
a:active {
	outline: none;
	color: hsl(206, 100%, 30%);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: underline;
}

a {
	color: hsl(206, 100%, 30%);
	text-decoration: none;
}

main {
	position: absolute;
	left: 60px;
}

/* small screens */
@media (max-width: 768px) { 
	body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav {
		position: relative;

		width: 100%;
		height: 60px;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;

		-ms-flex-direction: row;
		flex-direction: row;

		padding: 0px 10px;
	}

	.nav-group {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row; 
	}
	
	main {
		position: relative;
		left: 0;
	}

	.nav-panel {
		left: 0;
		top: 60px;

		height: 100vh;

		-ms-scroll-chaining: none;
		overscroll-behavior: contain;
		
		width: 100%;
	}
}

.panel {
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-backdrop-filter: blur(3px);

	        backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, .2);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	        box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

	font-weight: 300;
	letter-spacing: .03em;
}

.division-header {
	padding: 15px 15px 3em 15px;
}

/* md */
@media (min-width: 768px) { 
	.division-header {
		padding: 3em;
	}
}

.darker {
	background-color: var(--darker);
}