/* Common styles, applied to all pages (with few exceptions) */

:root {
	--fore-color: rgb(255, 255, 255);

	--primary-color: rgb(0, 128, 128);
	--primary-fore-color: rgb(255, 255, 255);

	--accent-color: rgb(255, 208, 0);
	--accent-fore-color: rgb(0, 0, 0);

	--lighter-color-1: rgba(255, 255, 255, .1);
	--lighter-color-3: rgba(255, 255, 255, .3);

	--top-panel-bg: rgb(20, 20, 20);
	--top-panel-fg: rgb(110, 110, 110);

	--gradient-begin: rgb(255, 0, 255);
	--gradient-end: rgb(0, 255, 255);

	--content-list-fg: rgb(250, 250, 250);
	--content-list-bg: rgba(20, 20, 20, .8);
}

.top-panel {
	display: flex;
	height: 50px;
	padding: 5px 20px;
	background-color: var(--top-panel-bg);
/*	box-shadow: 10px 0 5px rgb(40, 40, 40);*/
}

.top-panel-controls {
	display: flex;
	margin-left: auto;
}

.top-panel>a,
.top-panel-controls>button {
	display: flex;
	flex-direction: column;

	padding: 5px 10px;
	border: none;

	font-size: 12px;

	color: var(--top-panel-fg);
	background-color: transparent;
}

.top-panel>a:focus,
.top-panel>a:hover,
.top-panel>a:active,
.top-panel-controls>button:focus,
.top-panel-controls>button:hover,
.top-panel-controls>button:active {
	outline: none
}

.top-panel>a>svg,
.top-panel-controls>button>svg {
	width: 24px;
	height: 24px;

	margin: 0 auto; /* horizontal align */

	fill: var(--top-panel-fg);
}

.top-panel>a:focus>svg,
.top-panel>a:hover>svg,
.top-panel>a:active>svg,
.top-panel-controls>button:focus>svg,
.top-panel-controls>button:hover>svg,
.top-panel-controls>button:active>svg {
	fill: url(#svg-gradient);
}

.svg-gradient-container {
	width: 0;
	height: 0;
}

.svg-gradient-begin-color {
	stop-color: var(--gradient-begin);
}

.svg-gradient-end-color {
	stop-color: var(--gradient-end);
}

body {
	background-color: rgb(250, 250, 250);
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 3.5em;
  word-break: break-all;
}

body {
	color: #ffffff;
}

a:focus,
a:hover,
a:active {
	outline: none;
	color: #ffff00;
	transition: .3s;
	text-decoration: none;
}

.panel {
	padding: 1em 2em;
	margin-top: 1em;

	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

	font-weight: 300;
	letter-spacing: .03em;
}


.home-button {
	display: block;
	position: fixed;

	z-index: 100;
	padding: 1em;

	left: 3em;
	bottom: 3em;

	border-radius: 50%;

	background-color: var(--primary-color);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.home-button>svg {
	width: 24px;
	margin-top: -3px;

	fill: var(--fore-color);
}

.home-button:hover,
.home-button:active {
	background-color: var(--accent-color);
	transition: .3s;
}

.home-button:hover>svg,
.home-button:active>svg {
	fill: var(--accent-fore-color);
	transition: .3s;
}

.navbar-toggler {
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: bold;
  letter-spacing: .1em;
}

.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
	outline: none;
	color: var(--accent);
	transition: .3s;
	text-decoration: none;
}

.navbar {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #000000;
}

.navbar-grey {
  background-color: #ffffff;
}

.navbar-toggler-dark-icon {
  background-image: url("../resources/images/toggler-dark.svg");
}

.navbar-brand>img {
  height: 24px;
  width: 24px;
}

.nav-link {
  color: #ffffff;
}

.nav-link-grey {
  color: var(--secondary-text);
}

.division-header {
	padding: 15px 15px 3em 15px;
}

/* md */
@media (min-width: 768px) { 
	.division-header {
		padding: 3em;
	}
}

.division-header-img {
	width: 100%;
	max-width: 500px;
	border-radius: 50%;
	margin-bottom: 1em;
}

footer {
  background-color: #000000;
  color: #ffffff50;
  padding: 1em;
  text-align: center;
}

footer>p {
  margin-bottom: 0;
}