:root {
	--accent-color: hsl(293, 100%, 30%);
}

nav {
	background: var(--accent-color);
}

main {
	width: calc(100% - 60px);
}

h1 {
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding: 20px 25px 10px 1em;
}

dl {
	padding-left: 1em;
}

.row {
	margin: 0;
}

.main-panel {
	position: relative;
	font-size: 14px;
	color: var(--text-color);
	background-color: var(--secondary-background-color);
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow:    var(--shadow);
	box-shadow:         var(--shadow);
}

.main-panel-group {
	margin: 20px 25px 10px 25px;
}

.col-md-8 {
	height: 100vh;
}

@media (max-width: 768px) { 
	.col-md-8 {
		height: auto;
	}

	main {
		width: 100%;
	}
}

.letter-group {
	font-size: 2.5rem;
	text-align: center;
}

.letter {
	color: var(--secondary);
}

.letter:hover {
	color: var(--secondary);
	text-decoration: none;
}

.top-panel {
	font-size: 14px;
}

#search-area {
	display: flex;
	border-radius: 2px;
	background-color: var(--lighter-color-1);
}

#search-input {
	width: 100%;
	padding: 5px 0px 5px 10px;
	border: none;
	color: var(--fore-color);
	background-color: transparent;
}

#search-input::placeholder {
	color: var(--lighter-color-3);
}

#search-input:focus,
#search-input:active {
	outline: none;
}

#search-clear {
	padding: 5px 5px;
	border: none;
	background-color: transparent;
}

#search-clear:hover {
	cursor: default;
}

#search-clear:focus,
#search-clear:active {
	outline: none;
}

#search-clear>svg>path {
	fill: none;
}

#search-input:not(:placeholder-shown)+#search-clear:hover {
	cursor: pointer;
}

#search-input:not(:placeholder-shown)+#search-clear>svg>path {
	fill: var(--lighter-color-3);
}

#search-input:not(:placeholder-shown)+#search-clear:hover>svg>path,
#search-input:not(:placeholder-shown)+#search-clear:active>svg>path,
#search-input:not(:placeholder-shown)+#search-clear:focus>svg>path  {
	fill: var(--fore-color);
}

#search-button {
	margin: 2px;
	padding: 5px 15px;

	border: none;
	border-radius: 2px;

	color: var(--primary-fore-color);
	background-color: var(--top-panel-bg);
}

#search-button:hover,
#search-button:active,
#search-button:focus  {
	outline: none;
	background: linear-gradient(90deg, var(--gradient-begin), var(--gradient-end));
}

.fit-scroll {
	overflow-x: auto;
}

.tools-panel {
	padding: 2em;
	font-size: 14px;
	background-color: rgb(40, 40, 40);
	color: white;
}

/* md and larger */
@media (min-width: 768px) { 
	.tools-panel {
		min-height: calc(100vh - 60px);
	}	
}