@import "themes";

$divisions: (
    book: 206, 
    library: 150,
    dictionary: 293, 
    applets: 0,
    collections: 180
);

@mixin panel-background($id, $hue) {
    .background-color-#{$id} {
        background: hsl($hue, 100%, 30%);
        
        &:hover {
            background: linear-gradient(45deg, hsl($hue, 100%, 30%), hsl($hue, 100%, 40%)), hsl($hue, 100%, 30%);
        }
    }
}

@each $division, $hue in $divisions {
    @include panel-background($division, $hue);
}


$small: 768px;

@mixin respond-to($max-width) {
	@media only screen and (max-width: $max-width) { @content; }
}

body {
    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('background-color');  
    }
}

.screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    padding: 4em;
    margin-bottom: 2em;

    @include respond-to($small) {
        flex-direction: column;
        padding: 0;
        margin-top: 3em;
    }
}

.news-block {
    flex: 1 0 300px;

    padding: 25px 20px;
    border-radius: 2px;


    @include themify($themes) {
        color: themed('text-color');  
        background-color: themed('panel-color');  
    }

    .news-item {
        margin-bottom: 10px;

        .news-date {
            font-size: 12px;
        }

        .news-title {
            font-weight: 600;
        }
    }
}

.menu {
    flex: 1 1 60vw;

    .menu-items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 2em 0 0 0;

        @include respond-to($small) {
            justify-content: center;
        }
    }
}


h4 {
    font-weight: bold;
}

.col-md-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-panel {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.main-illustration {
    display: flex;
    justify-content: center;
    margin: 3em;

    img {
        width: 80vw;
        max-height: 50vh;
    }
}

h2 {
    font-size: 2rem;
    word-break: normal;
    font-weight: 700;
}

.main-screen-heading {
	text-align: center;
    
    h1 {
        font-size: 3rem;
        word-break: normal;
        font-weight: 700;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.4);
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 4em;
    margin-top: 3em;

    a {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.4);

        &.accent {
            color: #68BD00;
        }
    }
}

#down-arrow {
    display: flex;
    justify-content: center;
	height: 6em;
    
    img {
        width: 50px;
    }
}

.main-screen-menu {
	display: flex;
	flex-wrap: wrap;
    gap: 10px;
    margin: 2em 0;
}

.nav-card {
	color: inherit;

	letter-spacing: .03em;
	padding: 1em 1em;
	border-radius: 2px;
	display: flex;
    flex-direction: column;
    
    flex: 1 1 250px;

    color: rgb(255, 255, 255);
    
    &:hover,
    &:focus {
        color: white;
        text-decoration: none;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .5s;
    }

    &-description {
        border-top: 1px rgba(255, 255, 255, .6) solid;
        letter-spacing: .03em;
        margin-top: 5px;
        padding-top: 5px;
        display: flex;
        color: rgba(255, 255, 255, .6);
        font-size: 14px;
    }
}

@media (min-width: 768px) { 
	.main-screen-heading {
		margin-left: 4em;
		text-align: left;
	}

	#down-arrow {
		display: none;
	}

	.main-illustration {
        margin: 0;

        img {
            width: 30vw;
            max-height: 100vh;
        }
    }
    
    .buttons {
        flex-direction: row;
    }

	.left-panel {
        height: 100vh;
	}
}