.main-screen {
	min-height: 100vh;

  background: #000000;
	background-image: 
		linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
		url(../resources/images/main-sc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;

	color: #ffffff;
	font-weight: 300;
}

@media (min-width: 768px) { 
	.main-screen {
		padding: 2em 15px;
	}
}

.main-screen-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.main-screen-heading>h1 {
	font-weight: 300;
	font-size: 2em;
	letter-spacing: .3em;
  word-break: normal;
}

.main-screen-heading>p {
	letter-spacing: .03em;
}

#down-arrow {
	display: block;
	height: 6em;
	text-align: center;
}

#down-arrow>img {
	width: 50px;
}

.main-screen-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-screen-heading,
.main-screen-menu {
	min-height: calc(100vh - 6em);
} 

@media (min-width: 768px) { 
	.main-screen-heading {
		padding-left: 3em;
		text-align: left;
	}

	.main-screen-menu {
		border-left: 1px solid white;
		padding-left: 15px;
	}

	.main-screen-heading,
	.main-screen-menu {
		min-height: calc(100vh - 4em);
	} 

	#down-arrow {
		display: none;
	}
}

.nav-card {
	color: inherit;
	font-weight: 300;
	letter-spacing: .03em;
	padding: 1em 1em;
}

.nav-card>.nav-description {
	letter-spacing: .03em;
  opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	border-top: 1px rgba(255, 255, 255, 0) solid;
	margin-top: 5px;
	padding-top: 5px;
}

.nav-card:hover, .nav-card:focus {
	color: white;
	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	transition: box-shadow .5s, background-color .5s linear;
}

.nav-card:hover>.nav-description,
.nav-card:focus>.nav-description {
	color: rgba(255, 255, 255, .6);
	border-top: 1px rgba(255, 255, 255, .6) solid;

	opacity: 1;
}

#help-icon {
	position: absolute;
	right: 25px;
	top: 25px;

	display: flex;
	flex-direction: column;
}

#help-icon>img {
	width: 24px;
	margin: 0 auto;
}

#help-icon>span {
	opacity: 0;
	color: #ffffff;
}

#help-icon:hover>span {
	opacity: 1;
	color: #ffffff;
	transition: opacity .3s;
}