/* Common styles, applied to all pages (with few exceptions) */
/*
 * Implementation of themes
 */
:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "SF UI Text", sans-serif;
  transition: color 0.3s, background-color 0.3s;
}
.theme-light body {
  color: #212529;
  background-color: white;
}
.theme-dark body {
  color: #f2f2f2;
  background-color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
}

nav {
  width: 60px;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  transition: color 0.3s, background-color 0.3s;
}
nav a, nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  border: none;
  font-size: 12px;
  background-color: transparent;
}
nav a:focus, nav a:hover, nav a:active, nav button:focus, nav button:hover, nav button:active {
  outline: none;
  background: rgba(0, 0, 0, 0.2);
}
nav img {
  width: 24px;
  height: 24px;
}
nav .group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  nav .group {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 60px;
    flex-direction: row;
    padding: 0px 10px;
  }
}

.nav-panel {
  height: 100vh;
  width: 400px;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  border: none;
  z-index: 100;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  font-size: 14px;
  transition: color 0.3s, background-color 0.3s;
}
.theme-light .nav-panel {
  color: #212529;
  background-color: #f2f2f2;
}
.theme-dark .nav-panel {
  color: #f2f2f2;
  background-color: #2d2d2d;
}
@media only screen and (max-width: 768px) {
  .nav-panel {
    height: calc(100vh - 60px);
    width: 100%;
  }
}
.nav-panel .nav-panel-title {
  display: block;
  padding: 20px 25px 10px 25px;
  font-weight: bold;
  font-size: 18px;
}

main {
  flex: 1 1 0px;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  main {
    flex: auto;
    height: calc(100vh - 60px);
  }
}

a,
a:focus,
a:hover,
a:active {
  color: #005799;
  transition: color 0.3s;
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

.panel {
  padding: 1em 2em;
  margin: 1em;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  letter-spacing: 0.03em;
}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}

.hide-sm {
  display: block;
}
@media only screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

.theme-light nav {
  background: #00994d;
}
.theme-dark nav {
  background: #006633;
}

.theme-light .nav-panel-title {
  color: #00994d;
}
.theme-dark .nav-panel-title {
  color: #00994d;
}

@media only screen and (max-width: 768px) {
  #main-panel, main {
    height: auto;
  }
}

.main-panel-group {
  margin: 20px 25px 10px 25px;
}

/* search-area */
#search-area {
  margin: 20px 25px 10px 25px;
  display: flex;
  gap: 3px;
}
#search-area > div {
  flex-grow: 1;
  display: flex;
  border-radius: 2px;
}
.theme-light #search-area > div {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.theme-dark #search-area > div {
  background-color: #1e1e1e;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

#search-input {
  width: 100%;
  padding: 5px 0px 5px 10px;
  border: none;
  background-color: transparent;
}
.theme-light #search-input {
  color: #212529;
}
.theme-dark #search-input {
  color: #f2f2f2;
}
.theme-light #search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.theme-dark #search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#search-input:focus, #search-input:active {
  outline: none;
}
#search-input:not(:placeholder-shown) + #search-clear:hover {
  cursor: pointer;
}
#search-input:not(:placeholder-shown) + #search-clear > svg > path {
  fill: rgba(0, 0, 0, 0.2);
}
#search-input:not(:placeholder-shown) + #search-clear:hover svg > path, #search-input:not(:placeholder-shown) + #search-clear:active svg > path, #search-input:not(:placeholder-shown) + #search-clear:focus svg > path {
  fill: black;
}

#search-clear {
  padding: 5px 5px;
  border: none;
  background-color: transparent;
}
#search-clear:hover {
  cursor: default;
}
#search-clear:focus, #search-clear:active {
  outline: none;
}
#search-clear svg > path {
  fill: none;
}

#search-button {
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  color: white;
}
.theme-light #search-button {
  background-color: #00994d;
}
.theme-dark #search-button {
  background-color: #006633;
}

#search-button:hover,
#search-button:active,
#search-button:focus {
  outline: none;
  background: #008040;
}

/* /search-area */
.file-type-tag,
.language-tag {
  color: white;
  padding: 3px 5px;
  font-size: 12px;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 2px;
  margin-left: 3px;
  cursor: pointer;
  text-decoration: none;
}

.language-tag {
  background-color: #6e32e7;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 20px 25px 10px 1em;
}

/* record */
.record {
  padding: 1em;
  margin-top: 1em;
}

.record-article-mark {
  color: #aa0000;
  font-size: smaller;
}

.record-title > a {
  font-size: 16px;
}
.theme-light .record-title > a {
  color: #212529;
}
.theme-dark .record-title > a {
  color: #f2f2f2;
}

.record-year,
.record-size,
.record-autor {
  color: #999999;
  font-size: smaller;
}

.record-autor {
  text-decoration: underline;
  cursor: pointer;
}

/* /record */
.file-type-tag-pdf {
  background-color: #e72f2f;
}

.file-type-tag-djvu {
  background-color: #a000a0;
}

.file-type-tag-online {
  background-color: #707070;
}

#filter-area {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* filter-panel */
.filter-panel {
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.theme-light .filter-panel {
  background-color: #00994d;
}
.theme-dark .filter-panel {
  background-color: #006633;
}
.theme-light .filter-panel {
  color: white;
}
.theme-dark .filter-panel {
  color: #1e1e1e;
}

.close-panel-btn {
  height: 24px;
  width: 24px;
  cursor: pointer;
  padding: 0;
  float: right;
  border: none;
  outline: none;
  background-color: transparent;
}

.close-panel-btn > svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 18px;
  height: 18px;
}

.close-panel-btn:hover,
.close-panel-btn:focus,
.close-panel-btn:active {
  outline: none;
}

.close-panel-btn:hover > svg,
.close-panel-btn:focus > svg,
.close-panel-btn:active > svg {
  fill: white;
}

/* /filter-panel */
#nothing-is-found {
  display: none;
  margin: 1em 0;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1em;
  border: 1px solid darkred;
}

#nothing-is-found > button {
  font-size: 14px;
  margin-left: auto;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  color: var(--fore-color);
  background-color: darkred;
}

#nothing-is-found > button:hover,
#nothing-is-found > button:active,
#nothing-is-found > button:focus {
  outline: 0;
  background-color: #630000;
}

/*# sourceMappingURL=library.css.map */
