:root {
	--accent-color: hsl(150, 100%, 30%);
}

main {
	width: calc(100% - 60px);
}

.row {
	margin: 0;
}

nav {
	background: var(--accent-color);
	background: linear-gradient(45deg hsl(130, 100%, 50%) 0%,  hsl(150, 100%, 30%) 100%);
}

#main-panel {
	position: relative;
	font-size: 14px;
	color: var(--text-color);
	background-color: var(--secondary-backgroundcolor);
	-webkit-box-shadow: 3px 0px 3px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    3px 0px 3px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         3px 0px 3px 0px rgba(50, 50, 50, 0.1);
}

.main-panel-group {
	margin: 20px 25px 10px 25px;
}

/* search-area */

#search-area {
	margin: 20px 25px 10px 25px;
	display: flex;
	gap: 3px;
}

#search-area>div {
	flex-grow: 1;
	display: flex;
	border-radius: 2px;
	background-color: var(--background-color);
	border: solid 1px var(--darker);
}

#search-input {
	width: 100%;
	padding: 5px 0px 5px 10px;
	border: none;
	color: var(--text-color);
	background-color: transparent;	
}

#search-input::placeholder {
	color: rgba(0, 0, 0, .5);
}

#search-input:focus,
#search-input:active {
	outline: none;
}

#search-clear {
	padding: 5px 5px;
	border: none;
	background-color: transparent;
}

#search-clear:hover {
	cursor: default;
}

#search-clear:focus,
#search-clear:active {
	outline: none;
}

#search-clear>svg>path {
	fill: none;
}

#search-input:not(:placeholder-shown)+#search-clear:hover {
	cursor: pointer;
}

#search-input:not(:placeholder-shown)+#search-clear>svg>path {
	fill: var(--lighter-color-3);
}

#search-input:not(:placeholder-shown)+#search-clear:hover>svg>path,
#search-input:not(:placeholder-shown)+#search-clear:active>svg>path,
#search-input:not(:placeholder-shown)+#search-clear:focus>svg>path  {
	fill: var(--fore-color);
}

#search-button {
	padding: 5px 15px;

	border: none;
	border-radius: 2px;

	color: var(--primary-fore-color);
	background-color: var(--accent-color);
}

#search-button:hover,
#search-button:active,
#search-button:focus  {
	outline: none;
	background: var(--accent-color);
}
/* /search-area */

.file-type-tag,
.language-tag {
  	color: var(--fore-color);
  	padding: 3px 5px;
	font-size: 12px;
  	white-space: nowrap;
	text-decoration: none;
	border-radius: 2px;
	margin-left: 3px;
	cursor: pointer;
	text-decoration: none;
}

.language-tag {
  background-color: hsl(260, 79%, 55%);
}

h1 {
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding: 20px 25px 10px 1em;
}

/* record */
.record {
	padding: 1em;
	margin-top: 1em;
}

.record-article-mark {
	color: #aa0000;
	font-size: smaller;
}

.record-title>a {
	font-size: 1.1em;
	color: var(--top-panel-bg);
}

.record-title>a:hover,
.record-title>a:active,
.record-title>a:focus {
	color: rgb(3, 192, 192);
}

.record-year,
.record-size,
.record-autor {
	color: #999999;
	font-size: smaller;
}

.record-autor {
	text-decoration: underline;
	cursor: pointer;
}

/* /record */

.file-type-tag-pdf {
	background-color: rgb(231, 47, 47);
}

.file-type-tag-djvu {
	background-color: rgb(160, 0, 160);
}

.file-type-tag-online {
	background-color: rgb(112, 112, 112);
}

#filter-area {
	margin-top: 1em;
}

/* filter-panel */
.filter-panel {
	font-size: 14px;
	border-radius: 2px;
	background-color: var(--accent-color);
	color: var(--background-color);
}

.close-panel-btn {
  height: 24px;
  width: 24px;
  cursor: pointer;
	padding: 0;
	float: right;
  border: none;
	outline: none;
	background-color: transparent;
}

.close-panel-btn>svg {
	fill: var(--lighter-color-3);
	width:18px;
	height:18px;
}

.close-panel-btn:hover,
.close-panel-btn:focus,
.close-panel-btn:active {
	outline: none;
}

.close-panel-btn:hover>svg,
.close-panel-btn:focus>svg,
.close-panel-btn:active>svg {
	fill: var(--fore-color);
}
/* /filter-panel */

#nothing-is-found {
	display:none;
	margin: 1em 0;
  background-color: rgba(255, 0, 0, .2);
  padding: 1em;
  border: 1px solid darkred;
}

#nothing-is-found>button {
	font-size: 14px;
	margin-left: auto;
	padding: 5px 15px;

	border: none;
	border-radius: 2px;

	color: var(--fore-color);
	background-color: darkred;
}

#nothing-is-found>button:hover,
#nothing-is-found>button:active,
#nothing-is-found>button:focus {
	outline: 0;
	background-color: rgb(99, 0, 0);
}

#search-box {
	height: 100vh;
	overflow: auto;
}

@media (max-width: 768px) { 
	#search-box {
		height: auto;
	}
}