#record-count {
	color: #999999;
	font-size: smaller;
}

.plpro-lib-record-article {
	color: #cc2727;
	font-size: smaller;
}

.plpro-lib-record-title {
	margin-bottom: 0px;
}

.plpro-lib-record-year, .plpro-lib-record-size, .plpro-lib-record-autor {
	color: #999999;
	font-size: smaller;
}

.filetype-tag {
	cursor: pointer;
	text-decoration: none;
}

.plpro-lib-record-autor {
	text-decoration: underline;
	cursor: pointer;
}

.mdl-chip {
	color: #fff;
	background-color: rgb(0, 129, 32);
}

.mdl-chip__text {
	font-size: small;
	vertical-align: middle;
	display: inline-block;
}

.mdl-chip__action {
	opacity: 1;
}