* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover,
a:focus {
  text-decoration: underline;
}

.source {
	color: #ccc;
	font-size: 10px;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-title a {
  color: #222;
}

.post-avatar {
  border-radius: 50px;
	float: right;
  margin-left: 1em;
}

.post-description {
	font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
	display: inline-block;
  margin: 0.1em 0.1em;
	padding: 0.4em 1em;
  color: #fff;
  background: #999;
	font-size: 80%;
	border-radius: 5px;
}

.post-category:hover,
.post-category:focus {
	text-decoration: none;
}

.post-category-genetics {
	background: #5bd1a4;
}

.post-category-cytology {
	background: #c55fb4;
}

.post-category-plant-anatomy {
	background: #0d630c;
}

.post-category-analit-chemistry {
	background: #dda733;
}

.post-category-organic-chemistry {
	background: #53c2ca;
}

.post-category-plant-phisiology {
	background: #5aba59;
}

.post-category-biochemistry {
    background: #4d85d1;
}

.post-category-microbiology {
	background: #8156a7;
}

.post-category-phiscolloid-chemistry {
	background: #df2d4f;
}

.post-category-mexa {
	background: #df2d86;
}

.post-category-geology {
	background: #2ddf86;
}

.post-category-entomology {
	background: #a1df2d;
}

.post-category-common-chemistry {
	background: #df2d8f;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
	}
}

.header {
	text-align: center;
	padding: 0.6em 1em;
	color: #ffffff;
	background-color: #222;
	box-shadow: 0 0 5px #333333;
}

.logo-style {
	height: 32px; 
	display: table-cell;
}

.site-name {
	display: table-cell; 
	text-align: center; 
	padding-left: 10px; 
	vertical-align: top;
}

.block a {
	color: #fff;
}

.block-red {
	background-color: #df2d4f;
	border-left: none;
}

.block-green {
	background-color: #259b23;
}

.block-blue {
	background-color: #4d85d1;
}

.block-yellow {
	background-color: #383838;
	text-transform: uppercase;
	border-left: none;
}

.btn {
	cursor: pointer; 
	display: inline-block;
  margin: 0.1em 0.1em;
	padding: 0.3em 1em;
  color: #fff;
  background: #f22;
	font-size: 80%;
	border-radius: 5px;
	
}
.text {display: block; padding: 16px; margin: 16px; /*border: 1px dashed silver;*/ height: auto;}
.spoiler input[type=checkbox] {display: none;}
.spoiler input[type=checkbox] + .text {display: none;}
.spoiler input[type=checkbox]:checked + .text {display: block;}





div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}