@font-face {
  font-family: "Gotham-Bold";
  src: url("../resources/Gotham Bold.otf") format("otf");
}

body {
  font-family: "Gotham-Bold", "Helvetica Neue", sans-serif;
}

button:focus {
	outline: none;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 3.5em;
}

.navbar {
  font-weight: bold;
  letter-spacing: .1em;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
  background-image: url("../resources/images/toggler.svg");
}

.navbar-brand>img {
	height: 24px;
	width: 24px;
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	color: #06f0c9;
	transition: 0.3s;
}

.main-screen {
  min-height: 100vh;

  background: #03001e;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0e/Tractors_in_field_-_panoramio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.459);
}

.main-screen-content {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* for <= sm */
  min-height: 90vh;
  margin-left: 0px;
	text-align: center;
}

.divisions-block {
	color: #58554B;
	min-height: 100vh;
	padding: 3em 15px;
}

.divisions-block>.row {
	padding-top: 3em;
}

.divisions-block>.row>a:hover {
	text-decoration: none;
}

.division-card {
	min-height: 100%;
	color: #58554B;
	background-color: rgb(245, 245, 245);
	padding: 3em;
}

.division-header {
	color: #58554B;
	padding: 3em;
}

.division-card:hover {
	color: #00ceab;
}

.division-card>img, .division-header-img {
	width: 100%;
	max-width: 500px;
	border-radius: 50%;
	margin-bottom: 1em;
}


.article-img {
	width: 100%
}

.article-title {

}

.card {
	border-radius: 0px;
}

.card>a {
	color: #000000;
}

.card-img-top {
	border-radius: 0px;
}