@font-face {
  font-family: "Gotham-Bold";
  src: url("../resources/Gotham Bold.otf") format("otf");
}

@keyframes show {
  from {
    transform: translateY(55vh);
  }

  to {
    margin-bottom: translateY(0vh);
  }
}

body {
  font-family: "Gotham-Bold", "Helvetica Neue", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 3.5em;
}

.navbar {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
  .nav-link:hover {
    border-bottom: 3px white solid;
    transition: 0.2s;
  }

  .no-underscore:hover {
    border-bottom: none;
  }
}

.main-screen {
  min-height: 100vh;

  background: #03001e;
  background: -webkit-linear-gradient(to left, #ec38bc, #7303c0);
  background: linear-gradient(to left, #ec38bc, #7303c0);
}

/* for > md */
@media (min-width: 768px) {
  .main-screen {
    background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0);
    background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0);
  }
}

.main-screen-content {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* for <= sm */
  min-height: 40vh;
  margin-left: 0px;
  text-align: center;
}

.main-screen-heading {
  animation: show 1s ease;
  z-index: 1;
}

.main-screen-image {
  position: static;
  z-index: 0;
}

.main-screen-image>img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40vw;
}

.main-screen-image-sm {
  margin-top: 5em;
  position: static;
}

.main-screen-image-sm>img {
  width: 100%;
}

/* for >= md */
@media (min-width: 768px) {
  .main-screen-content {
    text-align: left;
    margin-left: 5em;
    min-height: 90vh;
  }
}

.gallery-block {
	min-height: 100vh;
	padding: 4em 0em;
}

.button {
  font-size: 1.3em;
  padding: 1em;
  color: black;
  border: 1px solid black;
	width: fit-content;
}

.button:hover {
	text-decoration: none;
	background-color: #f5f5f5;
	color: black;
}

.work-example>img {
	width: 90%;
	text-align: center;
}

.carousel-item>img {
	width: 100%;
}

.social-icon {
  height: 24px;
}